<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{846,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,374}}</string>
                <key>sourceSize</key>
                <string>{846,374}</string>
            </dict>
            <key>Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,864},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>FlyTute1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,214},{155,210}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{299,234}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{299,234}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute11.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,378},{291,232}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{291,232}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,378},{261,244}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{261,244}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{257,240}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{257,240}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute14.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,426},{175,220}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{175,220}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute15.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{155,210}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,648},{175,214}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{175,214}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{257,218}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{257,218}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{257,240}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{257,240}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,612},{265,242}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{265,242}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{299,234}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{299,234}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute7.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,378},{291,232}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{291,232}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute8.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,378},{261,244}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{261,244}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>FlyTute9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,641},{257,242}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{257,242}}</string>
                <key>sourceSize</key>
                <string>{337,260}</string>
            </dict>
            <key>Next button.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,864},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>Try Again.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,856},{238,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,65}}</string>
                <key>sourceSize</key>
                <string>{238,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b1f5a4d55afd6104773d06de1c3850:feee9c0a11419e7a999ae410dd4f8f5f:646753f98f00d144118f5fba336e7cc6$</string>
            <key>textureFileName</key>
            <string>Tutorial.png</string>
        </dict>
    </dict>
</plist>
